@font-face {
  /* 둥근모 폰트 적용 */
  font-family: "DungGeunMo";
  src: url("font/DungGeunMo.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  /* 바보체 폰트 적용 */
  font-family: "Babo";
  src: url("font/Babo.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  /* 베야체 폰트 적용 */
  font-family: "Beya";
  src: url("font/Beya.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  /* 좋은_땅땅콩콩체 폰트 적용 */
  font-family: "Ddangkong";
  src: url("font/Ddangkong.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  /* 좋은_사랑편지체 폰트 적용 */
  font-family: "LoveLetter";
  src: url("font/LoveLetter.ttf") format("truetype");
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

#container {
  position: relative;
  background-image: url("./img/cyworld.png");
  background-color: beige;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

#content {
  width: 70%;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-55%, -50%);
  float: left;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  display: flex;
  align-items: center;
}

#bg_div,
#st_div {
  width: 100px;
  height: 580px;
  overflow-y: hidden;
}

#bg_div {
  float: left;
  margin-left: 20px;
}

#st_div {
  float: right;
  margin-right: 20px;
}

#bg_ul_div,
#st_ul_div {
  height: 520px;
  overflow-y: hidden;
}

#bg_prev_btn,
#bg_next_btn,
#st_prev_btn,
#st_next_btn {
  text-align: center;
  cursor: pointer;
  margin: 5px 0;
}

#main {
  width: fit-content;
  display: grid;
  width: 850px;
  float: left;
  flex: 1;
}

#main_canvas {
  min-width: 450px;
  min-height: 550px;
  float: left;
  margin: 20px 50px 20px 50px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

textarea {
  min-height: 30px;
  height: auto;
  overflow-y: hidden;
  line-height: 30px;
  background-color: transparent;
  border: none;
  padding: 5px;
}

/* textarea resize 부분 안보이게 (기능은 작동함) */
::-webkit-resizer {
  display: none;
}

#controll_btn_list {
  width: 850px;
  margin-left: 50px;
  margin-top: 10px;
}

#controll_btn_list>div {
  cursor: pointer;
  display: inline;
}

#controll_btn_list>div>img,
i {
  width: 25px;
  height: 25px;
  text-align: center;
}

#btn_add_text {
  vertical-align: middle;
}

#btn_download {
  float: right;
}

.sticker_div {
  position: relative;
  top: 40px;
  left: 150px;
  border: none;
  cursor: move;
  resize: both;
}

.sticker_div > img {
  position: absolute;
  top: 0;
  left: 0;
}

.btn_sticker_rm, .btn_sticker_mv {
  display: none;
  position: absolute;
  width: 25px;
  height: 25px;
  line-height: 25px;
  border: none;
  font-size: 14px;
  background-color: gray;
  color: white;
  border-radius: 20px;
  text-align: center;
  vertical-align: middle;
}

.btn_sticker_rm {
  top: -10px;
  right : -10px;
  z-index: 1;
  cursor: pointer;
}

.btn_sticker_mv {
  bottom: -10px;
  right: -10px;
  cursor: nw-resize;
}

.focus_st {
  border: 1px solid black !important;
}

.focus_st > button {
  display: inline-block;
}